apt-ng
bluetooth
qemu
qemu.log
Games
Desktop
Downloads
Projekte
Musik
.config/akonadi
.config/KVIrc/log/
.config/geeqie/history
.tmw/updates/
.mozilla/
.config/YaRock/bbe5befacfede01288919058db1a7c32f0446564.db
.bashstyle.custom.private
.config/otrverwaltung
.config/mc
.config/pulse
.config/pavucontrol.ini
.filezilla
.ICEauthority
.PWD.gpg
.Xauthority
.Xmodmap.orig
.audacity-data/
.avidemux/
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashstyle.log
.bookmarks
.bzr.log
.cache/
.ccache/
.dbus/
.desura/
.directory
.dmrc
.dolphin-emu/
.drirc
.esd_auth
.fontconfig/
.fonts.conf
.gimp-2.8/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0-kde4
.icons/
.kde/
.lastpass/
.lastpwd
.lesshst
.local/
.macromedia/
.mplayer/
.mysql_sf
.otrdecoder
.pulse-cookie
.pulse/
.randomhistory
.rep_history
.spice-vdagent/
.spicec/
.sawfish/sessions
.sawfish/window-history
.ssh/
.steam/
.steampath
.steampid
.thumbnails/
.transifexrc
.vim/
.viminfo
.xine/
.xsession-errors
.xsession-errors.old
