<?xml version="1.0"?>
<configuration>
 <option name="BuySellSkin" value="graphics/gui/gui.xml"/>
 <option name="BuySellWinX" value="677"/>
 <option name="BuySellWinY" value="417"/>
 <option name="BuySkin" value="graphics/gui/gui.xml"/>
 <option name="BuyWinHeight" value="230"/>
 <option name="BuyWinWidth" value="260"/>
 <option name="BuyWinX" value="670"/>
 <option name="BuyWinY" value="335"/>
 <option name="ChatLogLength" value="128"/>
 <option name="ChatSkin" value="graphics/gui/gui.xml"/>
 <option name="ChatVisible" value="0"/>
 <option name="ChatWinHeight" value="200"/>
 <option name="ChatWinWidth" value="572"/>
 <option name="ChatWinX" value="0"/>
 <option name="ChatWinY" value="700"/>
 <option name="ColorAmmo" value="0x8b6311"/>
 <option name="ColorAmmoGradient" value="0"/>
 <option name="ColorArms" value="0x9c24e8"/>
 <option name="ColorArmsGradient" value="0"/>
 <option name="ColorBackground" value="0xffffff"/>
 <option name="ColorBackgroundGradient" value="0"/>
 <option name="ColorBeing" value="0xffffff"/>
 <option name="ColorBeingGradient" value="0"/>
 <option name="ColorChat" value="0x000000"/>
 <option name="ColorChatGradient" value="0"/>
 <option name="ColorExpInfo" value="0xffff00"/>
 <option name="ColorExpInfoGradient" value="0"/>
 <option name="ColorFeet" value="0xaa1d48"/>
 <option name="ColorFeetGradient" value="0"/>
 <option name="ColorGeneric" value="0x21a5b1"/>
 <option name="ColorGenericGradient" value="0"/>
 <option name="ColorGm" value="0xff0000"/>
 <option name="ColorGmGradient" value="0"/>
 <option name="ColorGmName" value="0x00ff00"/>
 <option name="ColorGmNameDelay" value="40"/>
 <option name="ColorGmNameGradient" value="1"/>
 <option name="ColorHead" value="0x527fa4"/>
 <option name="ColorHeadGradient" value="0"/>
 <option name="ColorHighlight" value="0xebc873"/>
 <option name="ColorHighlightGradient" value="0"/>
 <option name="ColorHitCriticalDelay" value="40"/>
 <option name="ColorHitCriticalGradient" value="3"/>
 <option name="ColorHitMonsterPlayer" value="0xff3232"/>
 <option name="ColorHitMonsterPlayerGradient" value="0"/>
 <option name="ColorHitPlayerMonster" value="0x0064ff"/>
 <option name="ColorHitPlayerMonsterGradient" value="0"/>
 <option name="ColorHpbarFull" value="0x0f6a20"/>
 <option name="ColorHpbarFullGradient" value="0"/>
 <option name="ColorHpbarOneHalf" value="0xe28000"/>
 <option name="ColorHpbarOneHalfGradient" value="0"/>
 <option name="ColorHpbarOneQuarter" value="0xff0000"/>
 <option name="ColorHpbarOneQuarterDelay" value="40"/>
 <option name="ColorHpbarOneQuarterGradient" value="1"/>
 <option name="ColorHpbarThreeQuarters" value="0xc38948"/>
 <option name="ColorHpbarThreeQuartersGradient" value="0"/>
 <option name="ColorHyperlink" value="0xe50d0d"/>
 <option name="ColorHyperlinkGradient" value="0"/>
 <option name="ColorIs" value="0xa08527"/>
 <option name="ColorIsGradient" value="0"/>
 <option name="ColorItemEquipped" value="0x000091"/>
 <option name="ColorItemEquippedGradient" value="0"/>
 <option name="ColorLegs" value="0x699900"/>
 <option name="ColorLegsGradient" value="0"/>
 <option name="ColorLogger" value="0x919191"/>
 <option name="ColorLoggerGradient" value="0"/>
 <option name="ColorMiss" value="0xffff00"/>
 <option name="ColorMissGradient" value="0"/>
 <option name="ColorMonster" value="0xec41e0"/>
 <option name="ColorMonsterGradient" value="0"/>
 <option name="ColorNecklace" value="0xff00ff"/>
 <option name="ColorNecklaceGradient" value="0"/>
 <option name="ColorNpc" value="0xc8c8ff"/>
 <option name="ColorNpcGradient" value="0"/>
 <option name="ColorOnehand" value="0xf42a2a"/>
 <option name="ColorOnehandGradient" value="0"/>
 <option name="ColorOutline" value="0x000000"/>
 <option name="ColorOutlineGradient" value="0"/>
 <option name="ColorParticle" value="0xffffff"/>
 <option name="ColorParticleGradient" value="0"/>
 <option name="ColorParty" value="0xf48055"/>
 <option name="ColorPartyGradient" value="0"/>
 <option name="ColorPc" value="0xffffff"/>
 <option name="ColorPcGradient" value="0"/>
 <option name="ColorPickupInfo" value="0x28dc28"/>
 <option name="ColorPickupInfoGradient" value="0"/>
 <option name="ColorPlayer" value="0x1fa052"/>
 <option name="ColorPlayerGradient" value="0"/>
 <option name="ColorProgressBar" value="0xffffff"/>
 <option name="ColorProgressBarGradient" value="0"/>
 <option name="ColorRing" value="0x0000ff"/>
 <option name="ColorRingGradient" value="0"/>
 <option name="ColorSelf" value="0xff8040"/>
 <option name="ColorSelfDelay" value="40"/>
 <option name="ColorSelfGradient" value="3"/>
 <option name="ColorServer" value="0x8415e2"/>
 <option name="ColorServerGradient" value="0"/>
 <option name="ColorShadow" value="0x000000"/>
 <option name="ColorShadowGradient" value="0"/>
 <option name="ColorShield" value="0x9c2424"/>
 <option name="ColorShieldGradient" value="0"/>
 <option name="ColorShopWarning" value="0x910000"/>
 <option name="ColorShopWarningGradient" value="0"/>
 <option name="ColorTabHighlight" value="0xff0000"/>
 <option name="ColorTabHighlightDelay" value="40"/>
 <option name="ColorTabHighlightGradient" value="1"/>
 <option name="ColorText" value="0x000000"/>
 <option name="ColorTextGradient" value="0"/>
 <option name="ColorTorso" value="0xd12aa4"/>
 <option name="ColorTorsoGradient" value="0"/>
 <option name="ColorTwohand" value="0xf46d0e"/>
 <option name="ColorTwohandGradient" value="0"/>
 <option name="ColorUnknownItem" value="0x000000"/>
 <option name="ColorUnknownItemGradient" value="0"/>
 <option name="ColorUsable" value="0x268d24"/>
 <option name="ColorUsableGradient" value="0"/>
 <option name="ColorWhisper" value="0x0000ff"/>
 <option name="ColorWhisperGradient" value="0"/>
 <option name="DebugSkin" value="graphics/gui/gui.xml"/>
 <option name="DebugVisible" value="0"/>
 <option name="DebugWinHeight" value="100"/>
 <option name="DebugWinWidth" value="400"/>
 <option name="DebugWinX" value="600"/>
 <option name="DebugWinY" value="400"/>
 <option name="EmoteShortcutSkin" value="graphics/gui/gui.xml"/>
 <option name="EmoteShortcutVisible" value="0"/>
 <option name="EmoteShortcutWinHeight" value="510"/>
 <option name="EmoteShortcutWinWidth" value="42"/>
 <option name="EmoteShortcutWinX" value="1522"/>
 <option name="EmoteShortcutWinY" value="390"/>
 <option name="EquipmentSkin" value="graphics/gui/gui.xml"/>
 <option name="EquipmentVisible" value="0"/>
 <option name="EquipmentWinX" value="710"/>
 <option name="EquipmentWinY" value="300"/>
 <option name="HelpSkin" value="graphics/gui/gui.xml"/>
 <option name="HelpWinHeight" value="400"/>
 <option name="HelpWinWidth" value="500"/>
 <option name="HelpWinX" value="550"/>
 <option name="HelpWinY" value="250"/>
 <option name="InventorySkin" value="graphics/gui/gui.xml"/>
 <option name="InventoryVisible" value="0"/>
 <option name="InventoryWinHeight" value="307"/>
 <option name="InventoryWinWidth" value="387"/>
 <option name="InventoryWinX" value="606"/>
 <option name="InventoryWinY" value="296"/>
 <option name="ItemPopupSkin" value="graphics/gui/gui.xml"/>
 <option name="ItemShortcutSkin" value="graphics/gui/gui.xml"/>
 <option name="ItemShortcutVisible" value="0"/>
 <option name="ItemShortcutWinHeight" value="510"/>
 <option name="ItemShortcutWinWidth" value="42"/>
 <option name="ItemShortcutWinX" value="1558"/>
 <option name="ItemShortcutWinY" value="390"/>
 <option name="MiniMapShow" value="0"/>
 <option name="MiniMapSkin" value="graphics/gui/gui.xml"/>
 <option name="MiniMapSticky" value="0"/>
 <option name="MiniMapVisible" value="0"/>
 <option name="MiniMapWinX" value="3"/>
 <option name="MiniMapWinY" value="25"/>
 <option name="MiniStatusSkin" value="graphics/gui/gui.xml"/>
 <option name="MostRecent00Port0" value="6901"/>
 <option name="MostRecent00Port1" value="6901"/>
 <option name="MostRecent00Server0" value="server.themanaworld.org"/>
 <option name="MostRecent00Server1" value="server.invertika.org"/>
 <option name="NpcTextSkin" value="graphics/gui/gui.xml"/>
 <option name="NpcTextWinHeight" value="358"/>
 <option name="NpcTextWinWidth" value="451"/>
 <option name="NpcTextWinX" value="496"/>
 <option name="NpcTextWinY" value="201"/>
 <option name="PartySkin" value="graphics/gui/gui.xml"/>
 <option name="PartyVisible" value="0"/>
 <option name="PartyWinHeight" value="60"/>
 <option name="PartyWinWidth" value="150"/>
 <option name="PartyWinX" value="590"/>
 <option name="PartyWinY" value="200"/>
 <option name="RecorderSkin" value="graphics/gui/gui.xml"/>
 <option name="RecorderWinX" value="0"/>
 <option name="RecorderWinY" value="721"/>
 <option name="ReturnToggles" value="0"/>
 <option name="SellSkin" value="graphics/gui/gui.xml"/>
 <option name="SellWinHeight" value="230"/>
 <option name="SellWinWidth" value="260"/>
 <option name="SellWinX" value="670"/>
 <option name="SellWinY" value="335"/>
 <option name="SkillsSkin" value="graphics/gui/gui.xml"/>
 <option name="SkillsWinX" value="672"/>
 <option name="SkillsWinY" value="320"/>
 <option name="SpeechSkin" value="graphics/gui/speechbubble.xml"/>
 <option name="StatusSkin" value="graphics/gui/gui.xml"/>
 <option name="StatusVisible" value="0"/>
 <option name="StatusWinX" value="600"/>
 <option name="StatusWinY" value="277"/>
 <option name="StorageSkin" value="graphics/gui/gui.xml"/>
 <option name="StorageWinHeight" value="300"/>
 <option name="StorageWinWidth" value="375"/>
 <option name="StorageWinX" value="612"/>
 <option name="StorageWinY" value="300"/>
 <option name="TradeSkin" value="graphics/gui/gui.xml"/>
 <option name="TradeWinHeight" value="180"/>
 <option name="TradeWinWidth" value="386"/>
 <option name="TradeWinX" value="607"/>
 <option name="TradeWinY" value="360"/>
 <option name="customcursor" value="1"/>
 <option name="default-player-permissions" value="31"/>
 <option name="emoteshortcut0" value="8"/>
 <option name="emoteshortcut1" value="2"/>
 <option name="emoteshortcut10" value="11"/>
 <option name="emoteshortcut11" value="12"/>
 <option name="emoteshortcut2" value="3"/>
 <option name="emoteshortcut3" value="4"/>
 <option name="emoteshortcut4" value="5"/>
 <option name="emoteshortcut5" value="6"/>
 <option name="emoteshortcut6" value="7"/>
 <option name="emoteshortcut7" value="8"/>
 <option name="emoteshortcut8" value="9"/>
 <option name="emoteshortcut9" value="10"/>
 <option name="fontSize" value="12"/>
 <option name="fpslimit" value="60"/>
 <option name="guialpha" value="0.723457"/>
 <option name="host" value="server.themanaworld.org"/>
 <option name="hwaccel" value="0"/>
 <option name="joystickEnabled" value="0"/>
 <option name="keyAttack" value="306"/>
 <option name="keyBeingSit" value="115"/>
 <option name="keyChat" value="13"/>
 <option name="keyChatNextTab" value="93"/>
 <option name="keyChatPrevTab" value="91"/>
 <option name="keyChatScrollDown" value="281"/>
 <option name="keyChatScrollUp" value="280"/>
 <option name="keyEmoteShortcut1" value="49"/>
 <option name="keyEmoteShortcut10" value="48"/>
 <option name="keyEmoteShortcut11" value="45"/>
 <option name="keyEmoteShortcut12" value="61"/>
 <option name="keyEmoteShortcut2" value="50"/>
 <option name="keyEmoteShortcut3" value="51"/>
 <option name="keyEmoteShortcut4" value="52"/>
 <option name="keyEmoteShortcut5" value="53"/>
 <option name="keyEmoteShortcut6" value="54"/>
 <option name="keyEmoteShortcut7" value="55"/>
 <option name="keyEmoteShortcut8" value="56"/>
 <option name="keyEmoteShortcut9" value="57"/>
 <option name="keyHideWindows" value="104"/>
 <option name="keyIgnoreInput1" value="311"/>
 <option name="keyIgnoreInput2" value="312"/>
 <option name="keyMoveDown" value="274"/>
 <option name="keyMoveLeft" value="276"/>
 <option name="keyMoveRight" value="275"/>
 <option name="keyMoveUp" value="273"/>
 <option name="keyOK" value="32"/>
 <option name="keyPathfind" value="102"/>
 <option name="keyPickup" value="122"/>
 <option name="keyQuit" value="27"/>
 <option name="keyScreenshot" value="112"/>
 <option name="keyShortcut1" value="49"/>
 <option name="keyShortcut10" value="48"/>
 <option name="keyShortcut11" value="45"/>
 <option name="keyShortcut12" value="61"/>
 <option name="keyShortcut2" value="50"/>
 <option name="keyShortcut3" value="51"/>
 <option name="keyShortcut4" value="52"/>
 <option name="keyShortcut5" value="53"/>
 <option name="keyShortcut6" value="54"/>
 <option name="keyShortcut7" value="55"/>
 <option name="keyShortcut8" value="56"/>
 <option name="keyShortcut9" value="57"/>
 <option name="keySmilie" value="308"/>
 <option name="keyTalk" value="116"/>
 <option name="keyTarget" value="304"/>
 <option name="keyTargetAttack" value="120"/>
 <option name="keyTargetClosest" value="97"/>
 <option name="keyTargetNPC" value="110"/>
 <option name="keyTargetPlayer" value="113"/>
 <option name="keyTrade" value="114"/>
 <option name="keyWindowChat" value="288"/>
 <option name="keyWindowDebug" value="291"/>
 <option name="keyWindowEmoteBar" value="46"/>
 <option name="keyWindowEquipment" value="285"/>
 <option name="keyWindowHelp" value="60"/>
 <option name="keyWindowInventory" value="284"/>
 <option name="keyWindowMinimap" value="287"/>
 <option name="keyWindowParty" value="292"/>
 <option name="keyWindowSetup" value="290"/>
 <option name="keyWindowShortcut" value="289"/>
 <option name="keyWindowSkill" value="286"/>
 <option name="keyWindowStatus" value="283"/>
 <option name="lastCharacter" value="stardust"/>
 <option name="musicVolume" value="60"/>
 <option name="opengl" value="1"/>
 <option name="particleEmitterSkip" value="0"/>
 <option name="particleeffects" value="1"/>
 <option name="persistent-player-list" value="1"/>
 <option name="player-ignore-strategy" value="emote0"/>
 <option name="port" value="6901"/>
 <option name="remember" value="1"/>
 <option name="screen" value="1"/>
 <option name="screenheight" value="900"/>
 <option name="screenwidth" value="1600"/>
 <option name="sfxVolume" value="100"/>
 <option name="shortcut0" value="-1"/>
 <option name="shortcut1" value="-1"/>
 <option name="shortcut10" value="-1"/>
 <option name="shortcut11" value="-1"/>
 <option name="shortcut2" value="-1"/>
 <option name="shortcut3" value="-1"/>
 <option name="shortcut4" value="535"/>
 <option name="shortcut5" value="-1"/>
 <option name="shortcut6" value="-1"/>
 <option name="shortcut7" value="-1"/>
 <option name="shortcut8" value="-1"/>
 <option name="shortcut9" value="-1"/>
 <option name="showownname" value="1"/>
 <option name="showpickupchat" value="1"/>
 <option name="showpickupparticle" value="1"/>
 <option name="sound" value="0"/>
 <option name="speech" value="3"/>
 <option name="updatehost" value="http://updates.themanaworld.org"/>
 <option name="username" value="setialpha"/>
 <option name="visiblenames" value="1"/>
 <option name="whispertab" value="0"/>
 <list name="player"/>
</configuration>
